@import "tailwindcss";

:root {
    --bg-primary: #F0F1F2;
    --primary: #222222;
    --accent: #34495E;
  }


  .bgPrimary{
    background-color: #F0F1F2 !important;
  }

  .buttonColor{
    background-color: #222222;
  }

  .buttonColor:hover{
    background-color: #1E73BE;
  }

  .text-primary{
    color: #222222;
  }

  hr {
    color: #dcdedf;
    background-color: #dcdedf;
    border: none;
    height: 1px;
  }

  .borderColor{
    border: 1px solid #F0F1F2;
  }

  .borderNav{
    border-bottom: 1px solid #F0F1F2;
  }