@import "tailwindcss";

:root {
    --bg-primary: #F7F8F9;
    --primary: #222222;
    --accent: #34495E;
  }


  .bgPrimary{
    background-color: #F7F8F9;
  }

  .text-primary{
    color: #222222;
  }